google_service_key.json
.idea

#init files
# copied ignore list from https://github.com/github/gitignore/blob/master/Terraform.gitignore
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc